@model HMS.Models.Roomservice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Roomservice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Serviceid" />
            <div class="form-group">
                <label asp-for="Roomid" class="control-label"></label>
                <select asp-for="Roomid" class="form-control" asp-items="ViewBag.Roomid"></select>
                <span asp-validation-for="Roomid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employeeid" class="control-label"></label>
                <select asp-for="Employeeid" class="form-control" asp-items="ViewBag.Employeeid"></select>
                <span asp-validation-for="Employeeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicedate" class="control-label"></label>
                <input asp-for="Servicedate" class="form-control" />
                <span asp-validation-for="Servicedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicetype" class="control-label"></label>
                <input asp-for="Servicetype" class="form-control" />
                <span asp-validation-for="Servicetype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicedetails" class="control-label"></label>
                <input asp-for="Servicedetails" class="form-control" />
                <span asp-validation-for="Servicedetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
